@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 168 100% 45%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 15%;
    --muted-foreground: 215 20% 65%;
    --accent: 170 100% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 170 50% 30%;
    --input: 170 50% 30%;
    --ring: 170 100% 50%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 216 33% 15%;
    --foreground: 210 40% 98%;
    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 216 33% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 168 100% 45%;
    --primary-foreground: 216 33% 10%;
    --secondary: 217 33% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 170 100% 50%;
    --accent-foreground: 216 33% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 170 50% 30%;
    --input: 170 50% 30%;
    --ring: 170 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(to bottom, hsl(216, 33%, 15%), hsl(180, 70%, 17%));
    background-image:
      radial-gradient(hsl(var(--foreground) / 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(216, 33%, 15%), hsl(180, 70%, 17%));
    background-size: 16px 16px, 100% 100%;
    min-height: 100vh;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 8px hsl(var(--accent) / 0.8);
  }

  .card-glow {
    @apply border border-accent/50 shadow-[0_0_15px_-5px_hsl(var(--accent))];
  }

  .button-glow {
     @apply shadow-[0_0_20px_-5px_hsl(var(--primary))];
  }
}

.wallet-button button:hover {
  border: 2px solid grey !important;
  color: #0c84751a !important;
  background: transparent !important;
  
  font-family: 'Inter', sans-serif !important;
}

